@{
    ViewBag.Title = "Home Page";
}




<div class="cal container">
    <div class="year-label">2018</div>
    <div class="year-span row">

        <div class="col col-sm-1">
            January
            <div class="month-line"></div>
        </div>
        <div class="col col-sm-1">
            February
            <div class="month-line"></div>
        </div>
        <div class="col col-sm-1">
            March
            <div class="month-line"></div>
        </div>
        <div class="col col-sm-1">
            April
            <div class="month-line"></div>
        </div>
        <div class="col col-sm-1">
            May
            <div class="month-line"></div>
        </div>
        <div class="col col-sm-1">
            June
            <div class="month-line"></div>
        </div>
        <div class="col col-sm-1">
            July
            <div class="month-line"></div>
        </div>
        <div class="col col-sm-1">
            August
            <div class="month-line"></div>
        </div>
        <div class="col col-sm-1">
            September
            <div class="month-line"></div>
        </div>
        <div class="col col-sm-1">
            October
            <div class="month-line"></div>
        </div>
        <div class="col col-sm-1">
            November
            <div class="month-line"></div>
        </div>
        <div class="col col-sm-1">
            December
            <div class="month-line"></div>
        </div>


        <div class="timeline accordion one" id="accordion1">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            UW ABC Project
                        </button>
                    </h5>
                    <span class="month-span">
                        January 1 -
                        March 3
                    </span>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion1">
                    <div class="card-body">
                        The DOM IT - UW ABC Project is used by customers to confirm hospital availability in the N.W. region for type 4 Medical students.
                        This information is used to book hospital stays and room types for a variety of students in the medical school.
                    </div>
                </div>
            </div>
        </div>

        <div class="timeline accordion two" id="accordion2">
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            Academic Affairs
                        </button>
                    </h5>
                    <span class="month-span">
                        January 21 -
                        June 26
                    </span>
                </div>

                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion2">
                    <div class="card-body">
                        The DOM IT - UW ABC Project is used by customers to confirm hospital availability in the N.W. region for type 4 Medical students.
                        This information is used to book hospital stays and room types for a variety of students in the medical school.
                    </div>
                </div>
            </div>
        </div>

        <div class="timeline accordion three" id="accordion3">
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                            METER
                        </button>
                    </h5>
                    <span class="month-span">
                        May 1 -
                        July 31
                    </span>
                </div>

                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion3">
                    <div class="card-body">
                        Measuring Expectations Through Enhanced Reporting.
                    </div>
                </div>
            </div>
        </div>

        <div class="timeline accordion four" id="accordion4">
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                            Academic Affairs
                        </button>
                    </h5>
                    <span class="month-span">
                        January 21 -
                        June 26
                    </span>
                </div>

                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion4">
                    <div class="card-body">
                        The DOM IT - UW ABC Project is used by customers to confirm hospital availability in the N.W. region for type 4 Medical students.
                        This information is used to book hospital stays and room types for a variety of students in the medical school.
                    </div>
                </div>
            </div>
        </div>



    </div>


</div>



