@{
    ViewBag.Title = "Home Page";
}

<style>
    /* override here */
    .outerMost {
        height: 120.25rem;
        overflow-x: scroll;
    }
</style>

@model ProjectStatusCenter.Models.TrackerProjectList

<input type="hidden" id="SelectedStartYear" value="2018" />
<input type="hidden" id="SelectedEndYear" value="2020" />

<div class="container row">
    <div class="col col-md-4">
        <div class="year-slider">
            <img class="start-year-slider" src="~/Content/images/green-triangle.png" />
            <span>2010</span>
            <span>2011</span>
            <span>2012</span>
            <span>2013</span>
            <span>2014</span>
            <span>2015</span>
            <span>2016</span>
            <span>2017</span>
            <span class="default-start">2018</span>
            <span>2019</span>
            <span class="default-end">2020</span>
            <img class="end-year-slider" src="~/Content/images/red-triangle.jpg" />
            <button id="btnFilterDates" class="btn btn-sm">Filter</button>
        </div>
        
    </div>
</div>


@{ Html.RenderPartial("MiniTimeline"); }


<div class="outerMost">
    <div class="cal">
        <div class="arrow-up"></div>
        <div class="year-label">2017</div>
        <div class="year-label">2018</div>
        <div class="year-label">2019</div>

        <div class="year-span">
            <div class="month-header">
                <div class="col-mv-1">
                    January
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    February
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    March
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    April
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    May
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    June
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    July
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    August
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    September
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    October
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    November
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    December
                    <div class="month-line"></div>
                </div>
            </div>
        </div>

        <div class="year-span">
            <div class="month-header">
                <div class="col-mv-1">
                    January
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    February
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    March
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    April
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    May
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    June
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    July
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    August
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    September
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    October
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    November
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    December
                    <div class="month-line"></div>
                </div>
            </div>
        </div>
        <div class="year-span">
            <div class="month-header">
                <div class="col-mv-1">
                    January
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    February
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    March
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    April
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    May
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    June
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    July
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    August
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    September
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    October
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    November
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    December
                    <div class="month-line"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.js"></script>


<script type="text/x-handlebars-template" class="template year-label-template">
    <div id="yearLabelTemplate">
        <div class="year-label">{{year}}</div>
    </div>
</script>

<script type="text/x-handlebars-template" class="template year-span-template">
    <div id="yearTemplate">
        <div class="year-span" year="{{year}}">
            <div class="month-header">
                <div class="col-mv-1">
                    January
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    February
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    March
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    April
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    May
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    June
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    July
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    August
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    September
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    October
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    November
                    <div class="month-line"></div>
                </div>
                <div class="col-mv-1">
                    December
                    <div class="month-line"></div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/x-handlebars-template" class="template project-item-template">
    <div id="projectItemTemplate">
        <div class="timeline accordion" id="accordion{{index}}">
            <div class="card">
                <div class="card-header" id="heading{{index}}">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{index}}" aria-expanded="true" aria-controls="collapse{{index}}">
                            {{project}}
                        </button>
                    </h5>
                    <span class="month-span">
                        {{dateRange}}
                    </span>
                </div>

                <div id="collapse{{index}}" class="collapse" aria-labelledby="heading{{index}}" data-parent="#accordion1">
                    <div class="card-body">
                        Developer: {{dev}} <br />
                        Description: {{{cardBody}}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/javascript">

    $(document).ready(function () {

        // To style only selects with the selectpicker class
        $('.selectpicker').selectpicker({
            liveSearch: true,
            showTick: true,
            width: 'auto'
        });

        filterDates();

        // set today marker
        setTodayMarker();

        /* slider sliding logic */

        var startYearSlider = $('.start-year-slider');
        $('.default-start').addClass('green-slider');
        startYearSlider.css({ 'left': '262px' });
        startYearSlider.on('mousedown', function (e) {
            var dr = $(this).addClass("drag").css("cursor", "move");
            height = dr.outerHeight();
            width = dr.outerWidth();
            max_left = dr.parent().offset().left + dr.parent().width() - dr.width();
            min_left = dr.parent().offset().left;

            ypos = dr.offset().top + height - e.pageY,
                xpos = dr.offset().left + width - e.pageX;
            $(document.body).on('mousemove', function (e) {
                var ileft = e.pageX + xpos - width;

                if (dr.hasClass("drag")) {
                    if (ileft <= min_left) { ileft = min_left; }
                    if (ileft >= max_left) { ileft = max_left; }
                    dr.offset({ left: ileft });
                }
            }).on('mouseup', function (e) {
                dr.removeClass("drag");
                var min = 2000;
                var closestSpan = null;
                var at = dr.position().left;
                dr.siblings().each(function () {
                    var thisSpan = $(this);
                    // reset colors to default if not the red one
                    if (thisSpan.css('color') != 'rgb(255, 0, 0)') {
                        thisSpan.css({ 'font-weight': 'normal', 'color': 'black' });
                    }
                    if (Math.abs(at - thisSpan.position().left) < min) {
                        min = Math.abs(at - thisSpan.position().left);
                        closestSpan = thisSpan;
                    }
                });
                closestSpan.css({ 'font-weight': 'bold', 'color': 'green' });
                $('#SelectedStartYear').val(closestSpan.html());
            });
        });

        var endYearSlider = $('.end-year-slider');
        $('.default-end').addClass('red-slider');
        endYearSlider.css({ 'left': '320.172px' });
        endYearSlider.on('mousedown', function (e) {
            var dr = $(this).addClass("drag").css("cursor", "move");
            height = dr.outerHeight();
            width = dr.outerWidth();
            max_left = dr.parent().offset().left + dr.parent().width() - dr.width();
            min_left = dr.parent().offset().left;

            ypos = dr.offset().top + height - e.pageY,
                xpos = dr.offset().left + width - e.pageX;
            $(document.body).on('mousemove', function (e) {
                var ileft = e.pageX + xpos - width;

                if (dr.hasClass("drag")) {
                    if (ileft <= min_left) { ileft = min_left; }
                    if (ileft >= max_left) { ileft = max_left; }
                    dr.offset({ left: ileft });
                }
            }).on('mouseup', function (e) {
                dr.removeClass("drag");
                var min = 2000;
                var closestSpan = null;
                var at = dr.position().left;
                dr.siblings().each(function () {
                    var thisSpan = $(this);
                    // reset colors to default if not the green one
                    if (thisSpan.css('color') != 'rgb(0, 128, 0)') {
                        thisSpan.css({ 'font-weight': 'normal', 'color': 'black' });
                    }
                    if (Math.abs(at - thisSpan.position().left) < min) {
                        min = Math.abs(at - thisSpan.position().left);
                        closestSpan = thisSpan;
                    }
                });
                closestSpan.css({ 'font-weight': 'bold', 'color': 'red' });
                $('#SelectedEndYear').val(closestSpan.html());
            });
        })
    });


    $('#btnFilterDates').click(function () {
        filterDates();
        // set today marker
        setTodayMarker();

        filterDates2();
    });

    function filterDates() {
        // clear all
        var $calendar = $('.cal');
        var startYear = $('#SelectedStartYear').val();
        var endYear = $('#SelectedEndYear').val();
        $calendar.html('<div class="arrow-up"></div>');
        var colorsArray = ['#2196f3', '#800080', '#ff0000', '#dc5924', '#366886', '#3e4d07'];


        // for each year, compile the year-label-template(s) and append
        var count = 0;
        for (var i = startYear; i <= endYear; i++) {
            var template = Handlebars.compile($('.year-label-template')[0].innerHTML);
            $calendar.append($(template({ year: i })).html());
            count++;
        }
        var width = (79.75 * count) + (count * .1875);
        $calendar.css('width', width + 'rem');

        // for each year, compile the year-span-template(s) and append
        for (var i = startYear; i <= endYear; i++) {
            var template = Handlebars.compile($('.year-span-template')[0].innerHTML);
            $calendar.append($(template({ year: i })).html());
        }

        // for each data item, compile the accordion template and append
        var projectData = getProjectJson();
        var colorCount = 0;
        for (var i = 0; i < projectData.length; i++) {
            var prj = projectData[i];
            var projectStartDate = prj.BusinessBeginString;
            var projectEndDate = prj.BusinessEndString;
            var template = Handlebars.compile($('.project-item-template')[0].innerHTML);
            var pos = getPositionFromDateString(projectStartDate, projectEndDate);
            if (pos.leftPos > -1) {
                var tp = 60 * (i + 1);
                $calendar.append($(template({ project: prj.Application, dateRange: projectStartDate + "-" + projectEndDate, index: (i + 1), cardBody: prj.Description, dev: prj.Developer })).html());
                $calendar.find('#accordion' + (i + 1)).css({ 'position': 'absolute', 'top': tp + 'px', 'left': pos.leftPos + 'px', 'width': pos.width });
                $calendar.find('#accordion' + (i + 1)).find('.card-header').css({ 'background-color': colorsArray[colorCount] });
            }
            if (colorCount < 5) {
                colorCount++;
            } else {
                colorCount = 0;
            }
        }

        $('.cal .timeline').click(function () {
            var self = $(this);

            var thisId = self.attr('id');
            $('.cal .timeline').not('#' + thisId).each(function () {
                $(this).css('z-index', '0');
                $(this).find('.collapse').removeClass('show');
                $(this).removeClass('show');
            });
            self.css('z-index', '1200');
            self.toggleClass('show');
        });
    }

    function getProjectJson() {
        var projects = @Html.Raw(Json.Encode(Model.tBLs));
        return projects;
    }

    function getPositionFromDateString( startDateString, endDateString ) {

        var sdt = new Date(startDateString);
        var edt = new Date(endDateString);
        var syr = sdt.getFullYear();
        var eyr = edt.getFullYear();
        var smn = sdt.getMonth();
        var emn = edt.getMonth();
        var sdy = sdt.getDate();
        var edy = edt.getDate();
        var position = { leftPos: -1, width: -1 };
        var syearElement = $('.cal .year-span[year="' + syr + '"]');
        var eyearElement = $('.cal .year-span[year="' + eyr + '"]');

        var mWidth = $('.cal .col-mv-1:nth-child(2)').position().left - $('.cal .col-mv-1:nth-child(1)').position().left;
        var oneDay = mWidth / 30;

        if (syearElement.length > 0 && eyearElement.length > 0) {
            var yearPos = syearElement.position().left; // 1st day of first month of year

            // find month for start year
            var month = syearElement.find('.col-mv-1:nth-child(' + (smn + 1) + ')');

            //var leftPos = yearPos + (6.25 * mn); // 0, 6.25, 12.50, 18.75, ....
            var leftPos = month.position().left + yearPos;

            leftPos = leftPos + (oneDay * (sdy-1)); // leftPos of month + (oneDay * numberOfDays) (sdy)

            // find month for end year
            month = eyearElement.find('.col-mv-1:nth-child(' + (emn + 1) + ')');
            yearPos = eyearElement.position().left + (oneDay * (edy - 1));

            var rightPos = month.position().left + yearPos;

            var width = rightPos - leftPos;
            position.leftPos = leftPos;
            position.width = width;
        }
        return position;
    }


    function setTodayMarker() {

        var td = new Date();
        var tyr = td.getFullYear();
        var tmn = td.getMonth();
        var tdy = td.getDate();
        var syearElement = $('.cal .year-span[year="' + tyr + '"]');

        var mWidth = $('.cal .col-mv-1:nth-child(2)').position().left - $('.cal .col-mv-1:nth-child(1)').position().left;
        var oneDay = mWidth / 30;

        if (syearElement.length > 0 ) {
            var yearPos = syearElement.position().left; // 1st day of first month of year

            // find month for start year
            var month = syearElement.find('.col-mv-1:nth-child(' + (tmn + 1) + ')');

            var leftPos = month.position().left + yearPos;

            leftPos = leftPos + (oneDay * (tdy - 1)); // leftPos of month + (oneDay * numberOfDays) (sdy)

            $('.arrow-up').css({ 'left': leftPos + 'px'});
        }
    }
</script>
